<%= form_for @announcement, html: { multipart: true }  do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
   <%= label_tag 'grados_iniciatico', 'Iniciatico'%>
   <%= check_box_tag 'degrees[degree][]', "Iniciatico",id:'grados_iniciatico'%><br/>

  <%= label_tag 'grados_Demolay', 'Demolay'%>
  <%= check_box_tag 'degrees[degree][]', "Demolay", id:'grados_Demolay'%><br/>

  <%= label_tag 'grados_consultor', 'Consultor'%>
  <%= check_box_tag 'degrees[degree][]', "Consultor", id:'grados_consultor'%><br/>

  <%= label_tag 'grados_caballero', 'Caballero'%>
  <%= check_box_tag 'degrees[degree][]', "Caballero", id:'grados_caballero'%><br/>

  <%= label_tag 'grados_chevallier', 'Chevallier'%>
  <%= check_box_tag 'degrees[degree][]', "Chevallier", id:'grados_chevallier'%><br/>
  </div>
  <div class="field">
   <%= label_tag 'cargos_Maestro_consejero', 'Maestro Consejero'%>
   <%= check_box_tag 'charges[charge][]', "Maestro Consejero",id:'cargos_Maestro_consejero'%><br/>

   <%= label_tag 'cargos_Ilustre_Comendador_Caballero', 'Ilustre Comendador Caballero'%>
   <%= check_box_tag 'charges[charge][]', "Ilustre Comendador Caballero",id:'cargos_Ilustre_Comendador_Caballero'%><br/>

    <%= label_tag 'cargos_Gran_Comendador_Chevallier', 'Gran Comendador Chevallier'%>
   <%= check_box_tag 'charges[charge][]', "Gran Comendador Chevallier",id:'cargos_Gran_Comendador_Chevallier'%><br/>

  <%= label_tag 'cargos_Presidente_Consejo_Consultivo', 'Presidente Consejo Consultivo'%>
  <%= check_box_tag 'charges[charge][]', "Presidente Consejo'Consultivo", id:'cargos_Presidente_Consejo_Consultivo'%><br/>

  <%= label_tag 'cargos_Delegado_Regional', 'Delegado Regional'%>
  <%= check_box_tag 'charges[charge][]', "Delegado Regional", id:'cargos_Delegado_Regional'%><br/>

    <%= label_tag 'cargos_Diputado', 'Diputado'%>
  <%= check_box_tag 'charges[charge][]', "Diputado", id:'cargos_Diputado'%><br/>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
