<% @publicaciones_para_mostrar.each do |publicacion| %>
    <div class="publicacion row">
      <div class="col-lg-12">
        <img src="<%=current_user.image%>" width="30px;">
        <a href="/profile/<%=current_user.id%>"><%= current_user.fullName %></a> -
        <a href="/campaments/<%=publicacion.campament.id%>"><%=publicacion.campament.name%></a>
        <%if publicacion.chapter!=nil%>
           - <a href="/chapters/<%=publicacion.chapter.id%>"><%=publicacion.chapter.chapter_name%></a>
        <%end%>
        <h2 ><%=publicacion.subject%></h2>
        <p>
          <%=publicacion.content%>
        </p>
        <% if publicacion.image.url != "/images/original/missing.png"%>
          <center>
            <div class="row">
              <div class=col-lg-2>
                <a href="<%= publicacion.image.url %>" target="_blank"><img src="<%= publicacion.image.url %>" class="img-responsive"></a>
              </div>
            </div>
          </center>
       <% end %>
       <br>
        <strong>Publicado el: </strong><%= publicacion.created_at.to_date %>
          <% if (publicacion.campament.president_id != nil && publicacion.campament.president_id == current_user.id)  or (publicacion.campament.maestro_consejero_id != nil && publicacion.campament.maestro_consejero_id == current_user.id ) or current_user.is_oficial %>
            <br><%= link_to 'Borrar publicación', publicacion, method: :delete, data: { confirm: '¿Está seguro que desea borrar esta publicación?'} %>
          <% end %>
      </div>
    </div>
  <%end%>


