<div class="row text-center">
	<h1><%=@user.fullName%></h1>
	<hr class="divider">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
	<%= form_tag("/update_asignar_grado_DeMolay/"+@user.id.to_s,method:"post", :multipart => true) do %>
		<div class="form-group">
	      <%= label_tag :capitulo %>
	      <%= select_tag(:chapter_id, options_from_collection_for_select(@opciones_capitulo,'id', 'chapter_name'), class: "form-control",:prompt => "Seleccionar capitulo") %>
	   </div>
	   
	    <div class="form-group">
	       <div class="form-group">
		    <%= file_field_tag :image %>
		  </div>
	   </div>

	    <div class="actions">
	      <%= submit_tag "Volver DeMolay al usuario", class: "btn btn-success" %>
	      <%= link_to "Atrás", '/profile/'+@user.id.to_s, class: "btn btn-danger" %>
	    </div>
	<%end%>
    </div>
</div>
