
  <div class="row">
    <h2 ><%= @user.fullName %></h2>
    <div class="col-lg-3 text-center">
      <%= render "menu_de_usuarios" %>
    </div>

    <div class="col-lg-3  text-center">
      <h3>Grados</h3>
      <hr class="divider">
      <% @user.degrees.sort_by {|obj| obj.date || @user.iniciacion}.each do |degree| %>
      <% if degree.aproved %>
        Tiene el grado de <%= degree.title %> en <a href="/chapters/<%= degree.chapter.id %>" data-no-turbolink> <%= degree.chapter.chapter_name %> </a> otorgado en fecha <%= (degree.date || @user.iniciacion || degree.created_at).to_date %> <% if current_user.is_oficial%> <a href="/degrees/<%=degree.id%>">Ver ficha</a><%end%><br>
        <% end %>
      <% end %>
      <% if @user.degrees.empty? == true %>
        No hay ningún grado registrado.
      <%end%>
    </div>

    <div class="col-lg-3 text-center">
      <h3>Cargos</h3>
      <hr class="divider">
      <% @user.charges.each do |charge| %>
        <% if charge.chapter != nil %>
          Tiene el cargo de <%= charge.title %> en <a href="/chapters/<%= charge.chapter.id %>" data-no-turbolink><%= charge.chapter.chapter_name %> </a> otorgado el <%= charge.created_at %><br>
        <%else%>
          Tiene el cargo de  <%= charge.title %> en <a href="/campaments/<%= charge.campament.id %>"><%= charge.campament.name %></a> otorgado el <%= charge.created_at %><br>
        <%end%>
      <% end %>
       <% if @user.charges.empty? == true && @user.charges_history.empty? == true%>
        No hay ningún cargo registrado.
      <%end%>
       <hr class="divider">
      <% @user.charges_history.each do |charge| %>
        <% if charge.chapter != nil %>
          Tuvo el cargo de <%= charge.title %> en <a href="/chapters/<%= charge.chapter.id %>" data-no-turbolink><%= charge.chapter.chapter_name %> </a> en la gestión <%=charge.gestion%><br>
        <%else%>
          Tuvo el cargo de  <%= charge.title %> en <a href="/campaments/<%= charge.campament.id %>"><%= charge.campament.name %></a> en la gestión <%=charge.gestion%> <br>
        <%end%>
      <% end %>
      <% if @user.charges_history.empty? == true && @user.charges_history.empty? == true%>
        No hay ningún historial de cargos registrado.
      <%end%>
    </div>
    <div class="col-lg-3 text-center">
      <h3>Premiaciones</h3>
      <hr class="divider">
      <% @user.user_premiations.each do |user_premiacion| %>
         <%= user_premiacion.premiacion.title %> en <%= user_premiacion.premiacion.date_of %> <br>
      <% end %>
      <% if @user.user_premiations.empty? == true %>
        No hay ninguna premiación registrada.
      <%end%>
    </div>
    <div class="col-lg-9">
      <h2>Información</h2>

      <div class="col-lg-4"><strong>email: </strong><%=@user.email%></div>
      <div class="col-lg-4"><strong>Teléfono Fijo: </strong><%=@user.show_phone%></div>
      <div class="col-lg-4"><strong>Teléfono Celular: </strong><%=@user.show_cellphone%></div>

      <div class="col-lg-4"><strong>Fecha nacimiento: </strong><%=@user.birth_date%></div>
      <div class="col-lg-4"><strong>Dirección: </strong><%=@user.adress%></div>
      <div class="col-lg-4"></div>
      

      <div class="col-lg-12" style = "margin-top: 20px;">
      <% if @user.aproved %>
        Forma parte de
      <%else%>
        Formara parte del capitulo
      <%end%>
        <% if @user.chapter != nil %>
          <a href="/chapters/<%=@user.chapter.id%>" data-no-turbolink><%=@user.chapter.chapter_name%></a>
          en el Departamento de
          <a href="/campaments/<%=@user.campament_id%>"><%=@user.campament.name%></a>
        <% end %>
      </div>
    </div>


    <div class="clear"></div>
     </div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Premiar a <%=@user.fullName%></h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_tag url: "/add_premiacion" do |f| %>
          <div class="form-group">
           
            <%= f.select :premiacion_id, options_for_select(Premiacion.all.map{ |p| [p.title, p.id] }), :onclick =>  "verify2();", label: "Premiación" %>
          </div>
          <div class="form-group">
            
            <%= f.date_field :date_of , :onclick =>  "verify2();",class:"form-control", label: "Fecha" %>
          </div>
          <div class="form-group" hidden="true">
            <%= f.text_field :user_id, value: @user.id%>
          </div>

          <div class="actions">
            <div onmouseover="checkFields2()">
              <%= f.submit "Conferir", class: "btn btn-block btn-success",id: "boton2" %>
            </div>  
            
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>


<%= render "asignar_grado_modal" %>

<%= render "informacion_modal" %>

<%= render  "formulario_de_grados_modal" %>

<%= render "transferir_usuario_modal" %>

<%= render "profile_scripts" %>