<div class="container">
  <div class="jumbotron">
    <h1 class="center-title">Perfil de <%= @user.fullName %></h1>
    <div class="col-lg-3">
      <img src="/assets/user.png" class="img-responsive">
    </div>
    <strong>Demolay ID:</strong>
    <%= @user.demolayID %><br><br>
    <strong>Rol:</strong>
    <%= @user.role %><br><br>
    <strong>Carnet de Identidad:</strong>
    <%= @user.ci %><br><br>
    <strong>Grados</strong>
    <% @user.degrees.each do |degree| %>
      <%= degree.title %><br>
    <% end %>
    <br>
    <% if @user.role == "Demolay" %>
      <%= link_to "Asignar Grado Demolay", {:controller => "profiles", :action => "asignar_grado_demolay", :id => @user.id} %>
      <%= link_to "Asignar Grado Caballero", {:controller => "profiles", :action => "asignar_grado_caballero", :id => @user.id} %>
      <%= link_to "Asignar Grado Chevallier", {:controller => "profiles", :action => "asignar_grado_chevallier", :id => @user.id} %>
    <% end %>
    <br><br><br><br>
  </div>
</div>
