
  <div class="jumbotron">
    <h2 ><%= @user.fullName %></h2>
    <div class="col-lg-3 text-center">
      <img src="<%=@user.image.url%>" class="img-responsive">
      <strong><%=@user.role%></strong><br>
      <% if @user.aproved %>
        <a class="btn btn-primary btn-block" href="/inboxes/new/<%=@user.id%>">Enviar mensaje</a>

          <button class="btn btn-primary  btn-block" type="button" data-toggle="modal" data-target="#myModal4">Ver Formularios</button>

          <button class="btn btn-primary  btn-block" type="button" data-toggle="modal" data-target="#myModal2">Grados</button>

          

          <% if current_user.is_oficial %>
          <button class="btn btn-primary  btn-block" type="button" data-toggle="modal" data-target="#myModal">Premiaciones</button>
            <% if @user.account_active? %>
              <%= link_to "Bloquear Usuario", "/block_user/"+@user.id.to_s, class: "btn btn-primary btn-block" %>
            <% end %>
            <% if !@user.account_active? %>
              <%= link_to "Desbloquear Usuario", "/unblock_user/"+@user.id.to_s, class: "btn btn-primary btn-block" %>
            <% end %>
          <%end%>


        <%else%>
          <% if current_user.is_oficial %>
            <%= link_to "Aprobar", "/approve/"+@user.id.to_s, class: "btn btn-success btn-block" %><br>
            <%= link_to "Rechazar", "/reject/"+@user.id.to_s, class: "btn btn-danger btn-block" %><br>
          <%end%>
        <%end%>
        <button class="btn btn-primary  btn-block" type="button" data-toggle="modal" data-target="#myModal3">Ver más Información</button>
        
        <% if current_user.is_oficial %>
          <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#myModal5">Transferir usuario</button>
        <% end %>
        
        <% if current_user.id == @user.id %>
          <a href="/users/edit" class="btn btn-primary btn-block">Editar Información</a>
        <% end %>
    </div>

    <div class="col-lg-3  text-center">
      <h3>Grados</h3>
      <hr class="divider">
      <% @user.degrees.each do |degree| %>
      <% if degree.aproved %>
        Tiene el grado de <%= degree.title %> en <a href="/chapters/<%= degree.chapter.id %>" data-no-turbolink> <%= degree.chapter.chapter_name %> </a><br>
        <% end %>
      <% end %>
      <% if @user.degrees.empty? == true %>
        No hay ningún grado registrado.
      <%end%>
    </div>

    <div class="col-lg-3 text-center">
      <h3>Cargos</h3>
      <hr class="divider">
      <% @user.charges.each do |charge| %>
        <% if charge.chapter != nil %>
          Tiene el cargo de <%= charge.title %> en <a href="/chapters/<%= charge.chapter.id %>" data-no-turbolink><%= charge.chapter.chapter_name %> </a><br>
        <%else%>
          Tiene el cargo de  <%= charge.title %> en <a href="/campaments/<%= charge.campament.id %>"><%= charge.campament.name %></a> <br>
        <%end%>
      <% end %>
       <% if @user.charges.empty? == true && @user.charges_history.empty? == true%>
        No hay ningún cargo registrado.
      <%end%>
       <hr class="divider">
      <% @user.charges_history.each do |charge| %>
        <% if charge.chapter != nil %>
          Tuvo el cargo de <%= charge.title %> en <a href="/chapters/<%= charge.chapter.id %>" data-no-turbolink><%= charge.chapter.chapter_name %> </a> en la gestión <%=charge.gestion%><br>
        <%else%>
          Tuvo el cargo de  <%= charge.title %> en <a href="/campaments/<%= charge.campament.id %>"><%= charge.campament.name %></a> en la gestión <%=charge.gestion%> <br>
        <%end%>
      <% end %>
      <% if @user.charges_history.empty? == true && @user.charges_history.empty? == true%>
        No hay ningún historial de cargos registrado.
      <%end%>
    </div>
    <div class="col-lg-3 text-center">
      <h3>Premiaciones</h3>
      <hr class="divider">
      <% @user.user_premiations.each do |user_premiacion| %>
         <%= user_premiacion.premiacion.title %> en <%= user_premiacion.premiacion.date_of %> <br>
      <% end %>
      <% if @user.user_premiations.empty? == true %>
        No hay ninguna premiación registrado registrado.
      <%end%>
    </div>
    <div class="col-lg-9">
      <h2>Información</h2>

      <div class="col-lg-4"><strong>email: </strong><%=@user.email%></div>
      <div class="col-lg-4"><strong>Teléfono Fijo: </strong><%=@user.show_phone%></div>
      <div class="col-lg-4"><strong>Teléfono Celular: </strong><%=@user.show_cellphone%></div>

      <div class="col-lg-4"><strong>Fecha nacimiento: </strong><%=@user.birth_date%></div>
      <div class="col-lg-4"><strong>Dirección: </strong><%=@user.adress%></div>
      <div class="col-lg-4"></div>

      <div class="col-lg-12">
      <% if @user.aproved %>
        Forma parte de
      <%else%>
        Formara parte del capitulo
      <%end%>
        <% if @user.chapter != nil %>
          <a href="/chapters/<%=@user.chapter.id%>" data-no-turbolink><%=@user.chapter.chapter_name%></a>
          en el Departamento de
          <a href="/campaments/<%=@user.campament_id%>"><%=@user.campament.name%></a>
        <% end %>
      </div>
    </div>


    <div class="clear"></div>
     </div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Premiar a <%=@user.fullName%></h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_tag url: "/add_premiacion" do |f| %>
          <div class="form-group">
            <%= f.select :premiacion_id, options_for_select(Premiacion.all.map{ |p| [p.title, p.id] }) %>
          </div>
          <div class="form-group">
            <%= f.date_field :date_of , class:"form-control" %>
          </div>
          <div class="form-group" hidden="true">
            <%= f.text_field :user_id, value: @user.id%>
          </div>
          <div class="actions">
            <%= f.submit "Premiar", class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>


<div id="myModal2" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Otorgar grado a <%=@user.fullName%></h4>
      </div>
      <div class="modal-body">
        <%if @user.role == "Demolay"%>
          <% if @user.tendra_el_grado("Demolay") %>
            <%= link_to "Dar grado DeMolay", "/asignar_grado_demolay/"+@user.id.to_s ,class:"btn btn-primary  btn-block disabled"%>
          <%else%>
             <%= link_to "Dar grado DeMolay", "/asignar_grado_demolay/"+@user.id.to_s ,class:"btn btn-primary  btn-block"%>
          <%end%>

          <% if @user.tendra_el_grado("Caballero") %>
            <%= link_to "Dar Grado Caballero", "/asignar_grado_caballero/"+@user.id.to_s,class:"btn btn-primary  btn-block disabled"%>
          <%else%>
          <%= link_to "Dar Grado Caballero", "/asignar_grado_caballero/"+@user.id.to_s,class:"btn btn-primary  btn-block"%>
           <%end%>

          <% if @user.tendra_el_grado("Chevalier") %>
            <%= link_to "Dar Grado Chevalier", "/asignar_grado_chevalier/"+@user.id.to_s,class:"btn btn-primary  btn-block disabled" %>
          <%else%>
            <%= link_to "Dar Grado Chevalier", "/asignar_grado_chevalier/"+@user.id.to_s,class:"btn btn-primary  btn-block" %>
          <%end%>

          <% if @user.tendra_el_grado("Senior Demolay") %>
            <%= link_to "Dar Senior DeMolay", "/asignar_senior_demolay/"+@user.id.to_s,class:"btn btn-primary  btn-block disabled" %>
          <%else%>
            <%= link_to "Dar Senior DeMolay", "/asignar_senior_demolay/"+@user.id.to_s,class:"btn btn-primary  btn-block" %>
          <%end%>

        <%else%>


            <%= link_to "Asignar como consultor", "/asignar_consultor/"+@user.id.to_s, class:"btn btn-primary  btn-block"%>



        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<div id="myModal3" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Más información de <%=@user.fullName%></h4>
      </div>
      <div class="modal-body">
              <strong>Carnet de identidad: </strong> <%=@user.ci%><br>
              <strong>DeMolay Id: </strong> <%=@user.demolayID%><br>
              <strong>Departamento:</strong> <%=@user.campament.name%><br>
              <% if @user.chapter != nil %>
                <strong>Chapter:</strong> <%=@user.chapter.chapter_name%><br>
              <% end %>
              <strong>Provincia:</strong> <%=@user.city%><br>
              <strong>Dirección:</strong> <%=@user.adress%><br>
              <strong>Teléfono Fijo:</strong> <%=@user.phone%><br>
              <strong>Teléfono Celular:</strong> <%=@user.cellphone%><br>
            <% if @user.role == "Demolay"%>
               <strong>Seguro: </strong> <%=@user.assurance%><br>
                <strong>Padrino: </strong> <%=@user.godfather_id%><br>
                <strong>Iniciacion:</strong> <%=@user.iniciacion%><br>
                <strong>Nombre del padre:</strong> <%=@user.father_name%><br>
                <strong>Información del padre:</strong> <%=@user.father_info%><br>
                <strong>Dirección del padre:</strong> <%=@user.father_adress%><br>
                <strong>Correo electrónico del padre:</strong> <%=@user.father_mail%><br>
                <strong>Nombre de la madre:</strong> <%=@user.mather_name%><br>
                <strong>Dirección de la madre:</strong> <%=@user.mather_adress%><br>
                <strong>Correo electrónico de la madre:</strong> <%=@user.mather_mail%><br>
            <%else%>
              <strong>Estado civíl:</strong> <%=@user.estado_civil%><br>
              <strong>Nombre Esposa:</strong> <%=@user.nombre_esposa%><br>
              <strong>Nombre del taller:</strong> <%=@user.taller_nombre%><br>
              <strong>Numero del taller:</strong> <%=@user.taller_numero%><br>
            <%end%>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<div id="myModal4" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Formularios de <%=@user.fullName%></h4>
      </div>
      <div class="modal-body">
              <strong>Formularios de grados</strong>
               <% if @user.role == "Demolay" %>
                  <%= link_to "Iniciación en " + @user.chapter.chapter_name.to_s,@user.registration_form.url, target: "_blank" , class: "btn btn-primary btn-block", data: { no_turbolink: true } %>
               <%end%>
                 <% @user.degrees.each do |degree| %>
                  <% if degree.aproved %>
                 <% if degree.title!="Iniciatico"%>
                  <%= link_to degree.title.to_s + " en " + degree.chapter.chapter_name.to_s,degree.image.url, target: "_blank" , class: "btn btn-primary btn-block"%>
                  <%end%>
                   <%end%>
                 <%end%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<div id="myModal5" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Transferir a <%=@user.fullName%></h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/transfer_user', :method => :post) do %>
          <label>Campamento</label>
          <input type="hidden" name="id" value="<%= @user.id %>">
          <%= select_tag(:campament_id, options_from_collection_for_select(Campament.all, 'id', 'name'), class: "form-control", :prompt => "Seleccionar filtro") %><br>
          <label>Capítulo</label>
          <%= select_tag(:chapter_id, options_from_collection_for_select(Chapter.all, 'id', 'chapter_name'), class: "form-control", :prompt => "Seleccionar filtro") %><br>
          <%= submit_tag("Transeferir", class: "btn-block btn btn-primary") %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
