<h1 class="center-title">Editar Perfil</h1>

<div class="container">
  <div class="jumbotron">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, label: "Correo Electr칩nico" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", label: "Contrase침a Nueva" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirmar Contrase침a Nueva" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off", label: "Contrase침a Actual" %>
      </div>

      <div class="field">
        <%= f.text_field :name, label: "Nombre" %>
      </div>

      <div class="field">
        <%= f.text_field :lastname, label: "Apellidos" %>
      </div>

      <div class="field">
        <%= f.text_field :demolayID, label: "Demolay ID" %>
      </div>

      <div class="field">
        <%= f.text_field :role , label: "Rol"%>
      </div>


      <div class="actions">
        <%= f.submit "Actualizar", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
