
      <h1>Usuarios a aprobar</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <% @users_to_approve.each do |user| %>
              <tr>
                <td>
                  <div class="dropdown config-bt">
                    <span id="dLabel" class="dropdown-toggle glyphicon glyphicon-wrench" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                      <li><%= link_to "Aprobar", "/approve/"+user.id.to_s %></li>
                      <li><%= link_to "Rechazar", "/reject/"+user.id.to_s %></li>
                    </ul>
                  </div>
                </td>
                <td><a href="/profile/<%= user.id %>"> <%= user.fullName %></a></td>
                <td><a href="/chapters/<%= user.chapter.id %>"><%= user.chapter.chapter_name %></a></td>
                <td><%= user.demolayID %></td>
                <td><%= user.role %></td>
                <td><%= user.ci %></td>
                <td><%= user.email %></td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <h1>Grados a aprobar</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <% @degrees_to_approve.each do |degree| %>
              <tr>
                <td>
                  <div class="dropdown config-bt">
                    <span id="dLabel" class="dropdown-toggle glyphicon glyphicon-wrench" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                      <li><a class="" href="/degrees/<%=degree.id%>">Ver ficha</a></li>
                      <li><%= link_to "Aprobar", "/approve_degree/"+degree.id.to_s %></li>
                      <li><%= link_to "Rechazar", "/reject_degree/"+degree.id.to_s %></li>
                    </ul>
                  </div>
                </td>
                <td><a href="/profile/<%= degree.user.id %>"> <%= degree.user.fullName %> </a></td>
                <td><a href="/chaptes/<%= degree.chapter.id %>"><%= degree.chapter.chapter_name %></a></td>
                <td>ยก Quiero ser <%= degree.title %>!</td>
                <td>
                  <%if degree.president_aproved%>
                    Presidente: <a href="<%=degree.chapter.chapter_consultant_president.id%>"><%=degree.chapter.chapter_consultant_president.fullName%></a><br>
                  <%end%>
                  <%if degree.deputy_aproved%>
                    Delegado: <a href="<%=degree.chapter.campament.president.id%>"><%=degree.chapter.campament.president.fullName%></a><br>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
