<div class="container">
  <div class="jumbotron">
    <div class="row">
      <h1 class="center-title">Listado de usuarios a aprobar</h1>
      <div class="col-lg-12">
        <br><br>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>DeMolay ID</th>
                <th>Rol</th>
                <th>CI</th>
                <th>Correo Electrónico</th>
                <th>Capitulo</th>
                <th>Estado</th>
                <th>Aprobado por:</th>
                <th colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% @users_to_approve.each do |user| %>
                <tr>
                  <td><a href="/profile/<%= user.id %>"> <%= user.fullName %></a></td>
                  <td><%= user.demolayID %></td>
                  <td><%= user.role %></td>
                  <td><%= user.ci %></td>
                  <td><%= user.email %></td>
                  <td><%= user.chapter.chapter_name %></td>
                  <td><%= user.status %></td>
                  <td>
                    <%if user.president_aproved%>
                      Presidente: <a href="<%=user.chapter.chapter_consultant_president.id%>"><%=user.chapter.chapter_consultant_president.fullName%></a><br>
                    <%end%>
                    <%if user.deputy_aproved%>
                      Delegado: <a href="<%=user.chapter.campament.president.id%>"><%=user.chapter.campament.president.fullName%></a><br>
                    <%end%>
                  </td>
                  <td>
                  <%= link_to "Aprobar", "/approve/"+user.id.to_s, class: "btn btn-success btn-block" %><br>
                  <%= link_to "Rechazar", "/reject/"+user.id.to_s, class: "btn btn-danger btn-block" %></td><br>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class="center-title">Listado de grados a aprobar</h1>
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <br><br>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>Titulo de grado a aprobar</th>
                <th>Capitulo</th>
                <th>Usuario</th>
                <th>Aprobado por</th>
                <th>Ficha de grado</th>
                <th>Nota de rechazo</th>
                <th colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% @degrees_to_approve.each do |degree| %>
                <tr>
                  <td><%= degree.title %></td>
                  <td><%= degree.chapter.chapter_name %></td>
                  <td><a href="/profile/<%= degree.user.id %>"> <%= degree.user.fullName %> </a></td>
                  <td>
                    <%if degree.president_aproved%>
                      Presidente: <a href="<%=degree.chapter.chapter_consultant_president.id%>"><%=degree.chapter.chapter_consultant_president.fullName%></a><br>
                    <%end%>
                    <%if degree.deputy_aproved%>
                      Delegado: <a href="<%=degree.chapter.campament.president.id%>"><%=degree.chapter.campament.president.fullName%></a><br>
                    <%end%>
                  </td>
                  <td><a class="btn btn-info" href="/degrees/<%=degree.id%>">Ver ficha</a></td>
                  <td><%=degree.reject_note%></td>
                  <td>
                    <%= link_to "Aprobar", "/approve_degree/"+degree.id.to_s, class: "btn btn-success btn-block" %><br>
                    <%= link_to "Rechazar", "/reject_degree/"+degree.id.to_s, class: "btn btn-danger btn-block" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
