
  <div class="row">
      <% if request.env['PATH_INFO'].split("/").last == "edit" %>
        <h1 class="center-title">Editar Usuario</h1>
      <% else %>
        <h1 class="center-title">Crear Usuario</h1>
      <% end %>
      <div class="col-lg-2"></div>
      <div class="col-lg-8"></div>
  </div>
  <div class="row">
  <%= bootstrap_form_for @user, url: "/updateUser", method: "post", multipart: true do |f| %>
        <div class="form-group col-lg-12">
          <%= f.hidden_field :id, class: "form-control", value: @user.id %>
        </div>
        <div class="form-group col-lg-12">
          <%= f.email_field :email, class: "form-control",label: "(*) Correo Electronico", value: @user.email %>
        </div>
        <div class="clear"></div>
        <div class="form-group col-lg-6">
          <%= f.text_field :name, class: "form-control",label: "(*) Nombres" %>
        </div>

        <div class="form-group col-lg-6">

          <%= f.text_field :lastname, class: "form-control",label: "(*) Apellidos" %>
        </div>
        <div class="clear"></div>

        <div class="form-group col-lg-4">
          <%= f.date_field :birth_date, class: "form-control",label: "(*) Fecha de nacimiento" %>
        </div>

        <div class="form-group col-lg-4">
          <%= f.text_field :ci, class: "form-control" ,label: "(*) Carnet de indentidad"%>
        </div>

        <div class="form-group col-lg-4">

          <%= f.text_field :demolayID, class: "form-control" ,label: "Id en DeMolay internacional"%>
        </div>
        <div class="clear"></div>
        <div class="form-group  col-lg-4">

          <%= f.select(:campament_id, options_from_collection_for_select(@campaments,'id', 'name'), class: "form-control",:prompt => "Seleccionar Departamento",label: "(*) Departamento")%>
        </div>

        <div class="form-group  col-lg-4" id="chapterDiv">
          <%= render :partial => 'chapters', :object => @chapters, :locals=>{:f=>f} ,label: "Capitulo"%>
        </div>

        <div class="form-group col-lg-4">

          <%= f.text_field :city, class: "form-control",label: "Provincia" %>
        </div>

        <div class="clear"></div>
        <div class="form-group col-lg-4">
          <%= f.text_field :adress, class: "form-control",label: "Dirección" %>
        </div>

        <div class="form-group col-lg-4">

          <%= f.text_field :phone, class: "form-control",label: "Telofono fijo"%>
        </div>

        <div class="form-group col-lg-4">

          <%= f.text_field :cellphone, class: "form-control" ,label: "Telofono celular"%>
        </div>
        <div class="clear"></div>
        <div class="form-group col-lg-12">
          <div class="col-lg-4">
          <%= f.select(:role, options_for_select(@roles), class: "form-control",label: "(*) Rol") %>
          </div>
        </div>

        <div class="clear"></div>
        <span id="para_demolay">

            <div class="form-group col-lg-4">

              <%= f.select(:assurance, options_for_select(@seguro), class: "form-control",label: "(*) Seguro")%>
            </div>

            <div class="form-group col-lg-4">
              <%= f.number_field :godfather_id, class: "form-control",label: "Padrino" %>
            </div>

            <div class="form-group col-lg-4">
              <%= f.date_field :iniciacion, class: "form-control",label: "(*) Fecha de iniciación"  %>
            </div>
            <div class="clear"></div>

            <div class="form-group col-lg-6">
              <%= f.text_field :father_name, class: "form-control",label: "Nombre del padre"  %>
            </div>

            <div class="form-group col-lg-6">

               <%= f.select(:father_info, options_for_select(@father), class: "form-control",label: "Información del padre")%>
            </div>
            <div class="clear"></div>
            <div class="form-group col-lg-6">
              <%= f.text_field :father_adress, class: "form-control" ,label: "Dirección del padre"%>
            </div>

            <div class="form-group col-lg-6">

              <%= f.text_field :father_mail, class: "form-control" ,label: "Email del padre"%>
            </div>
            <div class="clear"></div>
            <div class="form-group col-lg-4">

              <%= f.text_field :mather_name, class: "form-control",label: "Nombre de la madre" %>
            </div>

            <div class="form-group col-lg-4">

              <%= f.text_field :mather_adress, class: "form-control" ,label: "Dirección de la madre"%>
            </div>

            <div class="form-group col-lg-4">

              <%= f.text_field :mather_mail, class: "form-control",label: "Email de la madre" %>
            </div>


            <div class="clear"></div>
        </span>

         <span id="para_consultor">

            <div class="form-group col-lg-6">
              <%= f.select(:estado_civil, options_for_select(@estados), class: "form-control",label: "Estado Civil")%>
            </div>

            <div class="form-group col-lg-6">

              <%= f.text_field :nombre_esposa, class: "form-control" ,label: "Nombre de la esposa"%>
            </div>
            <div class="clear"></div>
             <div class="form-group col-lg-6">

              <%= f.text_field :taller_nombre, class: "form-control" ,label: "Nombre de taller al que pertenece"%>
            </div>

            <div class="form-group col-lg-6">

              <%= f.text_field :taller_numero, class: "form-control" ,label: "Numero del taller al que pertenece"%>
            </div>
            <div class="clear"></div>
        </span>

        <div class="form-group col-lg-12">
          <%= f.file_field :registration_form, class: "form-control" ,label: "PDF de afilicación"%>
        </div>
        <div class="clear"></div>
        <div class="actions">
          <%= f.submit "Actualizar", class: "btn btn-success", id: "fileUpload", data: {disabled_with: "Uploading"} %>
          <%= link_to "Atrás", '/users', class: "btn btn-danger" %>
        </div>
      <% end %>
  </div>



<script type="text/javascript">
  $('#para_consultor').hide()

  $( "#user_role" ).change(function() {
     if ($("#user_role").val() == "No Demolay")
      {
        $('#para_demolay').hide(300);
        $('#para_consultor').show(300);
      }
      if ($("#user_role").val() == "Demolay")
      {
        $('#para_consultor').hide(300);
        $('#para_demolay').show(300);
      }
  });

  $( "#user_campament_id" ).change(function() {
    var campament = $("#user_campament_id").val();
    jQuery.ajax({
      url: "/update_chapters",
      type: "GET",
      data: {"campament" : campament},
      dataType: "html",
      success: function(data) {
        jQuery('#chapterDiv').html(data);
      }
    });
  });



</script>
