<%= form_tag("/createUser",method:"post") do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email%>
  </div>

  <div class="field">
    <%= label_tag :name %><br />
    <%= text_field_tag :name%>
  </div>

  <div class="field">
    <%= label_tag :lastname %><br />
    <%= text_field_tag :lastname%>
  </div>

  <div class="field">
    <%= label_tag :demolayID %><br />
    <%= text_field_tag :demolayID%>
  </div>

  <div class="field">
    <%= label_tag :role %><br />

    <%if current_user.role == "Oficial Ejecutivo"%>
      <%= select_tag(:role, options_for_select(@paraOficialEjecutivo)) %>
    <%end%>

    <%if current_user.role == "Diputado"%>
      <%= select_tag(:role, options_for_select(@paraDiputado)) %>
    <%end%>

    <%if current_user.role == "Delegado Regional"%>
      <%= select_tag(:role, options_for_select(@paraDelegadoRegional)) %>
    <%end%>

    <%if current_user.role == "Presidente Consejo Consultivo"%>
      <%= select_tag(:role, options_for_select(@paraPresidenteConsejoConsultivo)) %>
    <%end%>

    <%if current_user.role == "Consultor"%>
      <%= select_tag(:role, options_for_select(@paraConsultor)) %>
    <%end%>

    <%if current_user.role == "Maestro Consejero"%>
      <%= select_tag(:role, options_for_select(@paraMaestroConsejero)) %>
    <%end%>

  </div>

  <div class="actions">
    <%= submit_tag "Sign up" %>
  </div>

<% end %>