<div class="container">
  <div class="jumbotron">
    <h1 class="center-title">Listado de usuarios</h1>
      <a href="/newUser" class="btn btn-success">Crear Usuario</a>
      <br><br>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Demolay ID</th>
              <th>Rol</th>
              <th>CI</th>
              <th>Correo Electrónico</th>
              <th>Capitulo</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><a href="/profile/<%= user.id %>"> <%= user.fullName %></a></td>
                <td><%= user.demolayID %></td>
                <td><%= user.role %></td>
                <td><%= user.ci %></td>
                <td><%= user.email %></td>
                <% if user.chapter != nil %>
                  <td><%= user.chapter.chapter_name %></td>
                <% else %>
                  <td>
                    -
                  </td>
                <% end %>
                <td><%= user.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
