<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <p id="notice"><%= notice %></p>
        <h2>Bienvenido <%= current_user.fullName %></h2>
        <img src="/assets/dm.jpg" class="img-responsive" alt="Image">
        <div class="row">
          <div class="col-lg-6">
            <h3>Últimas noticias de tu capítulo</h3>
            <% current_user.chapter.announcements.last(3).each do |announcement| %>
              <div class="row">
                <div class="col-lg-12" style="text-align:justify">
                  <h4><%= announcement.subject %></h4>
                  <%= truncate(announcement.content.html_safe, length: 250) %>
                  <%= link_to "Ver más", "/chapters/" + current_user.chapter.id.to_s %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-lg-6">
            <h3>Últimos mensajes recibidos</h3>
            <% current_user.inboxes.last(3).each do |message| %>
              <div class="row">
                <div class="col-lg-12" style="text-align:justify">
                  <h4><%= message.subject %></h4>
                  <%= truncate(message.content.html_safe, length: 250) %><%= link_to "Ver más", "/inboxes/" + message.id.to_s %>
                  <br>
                  <strong>Enviado por</strong> <a href="/profile/<%= message.user1.id %>"><%= message.user1.fullName %></a> el <%= message.created_at.to_date %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
