<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @degree.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @degree.user %>
</p>

<%= link_to 'Edit', edit_degree_path(@degree) %> |
<%= link_to 'Back', degrees_path %>
