
		<p class="text-center">
		  <strong>Usuario</strong><br>
		  <%= @degree.user.fullName %>
		</p>

		<p class="text-center">
		  <strong>Razón del grado</strong><br>
		  <%= @degree.title %>
		</p>

		<p class="text-center">
		  <strong>Fecha del grado</strong><br>
		  <%= (@degree.date || @degree.created_at).to_date %>
		</p>

		<p class="text-center">
		  <strong>Formulario del grado</strong><br>
		  <%= link_to "Ver Formulario de " + @degree.title.to_s,@degree.image.url, target: "_blank" , class: "btn btn-info"%>
		</p>
		<center>
		<% if !@degree.aproved %>
			<%= link_to "Aprobar", "/approve_degree/"+@degree.id.to_s, class: "btn btn-success" %>
		<% elsif ( current_user.is_oficial) %>
			<%= link_to 'Quitar Grado',  @degree,  method: :delete, data: { confirm: 'Esta seguro? El grado sera eliminado' }, class: "btn btn-danger" %>
		<% end %>
		</center>