<%= bootstrap_form_for current_user, url: passwords_path do |f| %>
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
	  <div class="form-group ">
	  	<%= f.password_field :current_password ,:label => "Contraseña actual"%>
	  </div>
	  <div class="form-group ">
	  	<%= f.password_field :password ,:label => "Nueva contraseña"%>
	  </div>
	  <div class="form-group ">
	  	<%= f.password_field :password_confirmation ,:label => "Confirmación de nueva contraseña"%>
	  </div>
	  <div class="actions">
	 	 <%= f.submit "Cambiar contraseña", class: "btn btn-success"%>
	 	</div>
	 </div>
<% end %>
