<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

      <% if Banner.all.count > 0 %>
        <h1><%= Banner.all.first.description %></h1>
        <img src="<%= Banner.all.first.pic.url %>" class="img-responsive">
      <% end %>

      <h2 class="center-title">Iniciar sesi칩n</h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, label: "Correo Electr칩nico" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", label: "Contrase침a" %>
        </div>

        <div class="actions">
          <%= f.submit "Iniciar Sesi칩n" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
