<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

      <% if Banner.all.count > 0 %>
        <h1><%= Banner.all.first.description %></h1>
        <img src="<%= Banner.all.first.pic.url %>" class="img-responsive">
      <% end %>

      <h2 class="center-title">Iniciar sesión</h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, label: "Correo Electrónico" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", label: "Contraseña" %>
        </div>

        <div class="actions">
          <%= f.submit "Iniciar Sesión" %>
        </div>
      <% end %>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Olvidé mi contraseña", new_password_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "No recibí correo electrónico de confirmación", new_confirmation_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to "No recibí correo electrónico con instrucciones de desbloqueo", new_unlock_path(resource_name) %><br />
    <% end -%>

    </div>
  </div>
</div>
