

<p>
  <strong>Title:</strong>
  <%= @premiacion.title %>
</p>

<p>
  <strong>Date of:</strong>
  <%= @premiacion.date_of %>
</p>

<p>
  <strong>User:</strong>
  <%= @premiacion.user %>
</p>

<%= link_to 'Edit', edit_premiacion_path(@premiacion) %> |
<%= link_to 'Back', premiacions_path %>
