<%= bootstrap_form_for @chapter, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.text_field :chapter_name, label: "Nombre", placeholder: "Nombre del capítulo" %>
  </div>

   <div class="form-group">
    <%= f.number_field :number, label: "Número", placeholder: "Número del capītulo" %>
  </div>

  <div class="form-group">
    <%= f.select(:campament_id, options_from_collection_for_select(@campaments,'id', 'name'), label: "Departamento") %>
  </div>

  <div class="form-group">
    <%= f.select(:chapter_type, options_for_select([["Capítulo", "Capítulo"],["Priorato", "Priorato"],["Corte", "Corte"]]), label: "Tipo") %>
  </div>

  <div class="form-group">
    <%= f.date_field :aniversary, class: "form-control", label: "Aniversario" %>
   </div>

  <div class="form-group">
    <%= f.file_field :image, label: "Imagen" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Crear", class: "btn btn-success" %>
    <%= link_to 'Atrás', :back, class: "btn btn-danger" %>
  </div>
<% end %>
