<%= bootstrap_form_for @chapter, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.text_field :chapter_name, label: "Nombre" %>
  </div>

   <div class="field">
    <%= f.number_field :number, label: "Número" %>
  </div>

  <div class="field">
    <%= f.select(:campament_id, options_from_collection_for_select(@campaments,'id', 'name'), label: "Departamento") %>
  </div>
  <div class="field">
    <%= f.select(:chapter_type, options_for_select([["Capitulo", "Capitulo"],["Priorato", "Priorato"],["Corte", "Corte"]]), label: "Tipo") %>
  </div>

  <div class="field">
    <%= f.file_field :image, label: "Imagen" %>
  </div>
  <div class="actions">
    <%= f.submit "Crear", class: "btn btn-success" %>
    <%= link_to 'Atrás', :back, class: "btn btn-danger" %>
  </div>
<% end %>
