<%= bootstrap_form_for @chapter, html: { multipart: true } do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :chapter_name, label: "Nombre" %>
  </div>

   <div class="field">
    <%= f.number_field :number, label: "Numero" %>
  </div>

  <div class="field">
    <%= f.select(:campament_id, options_from_collection_for_select(@campaments,'id', 'name'), label: "Campamento") %>
  </div>
  <div class="field">
    <%= f.select(:chapter_type, options_for_select([["Capitulo", "Capitulo"],["Priorato", "Priorato"],["Corte", "Corte"]]), label: "Tipo") %>
  </div>
  
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit "Crear", class: "btn btn-success" %>
    <%= link_to 'Atrás', chapters_path, class: "btn btn-danger" %>
  </div>
<% end %>
