<% @publicaciones_para_mostrar.each do |publication| %>
  <img src="<%= publication.user.image.url %>" width="30px;"> <%= link_to publication.user.fullName, '/profile/' + publication.user.id.to_s %> publicó:
  <h3><%= publication.subject%></h3>
  <p style="font-size: 120%;">
    <%= publication.content%>
  </p>
  <center>
    <%= image_tag publication.image, class: "img-responsive" %>
  </center>
  <strong>Fecha de publicación:</strong> <%= publication.created_at.to_date %><br>
  <% if current_user.id == publication.user.id or @chapter.chapter_president.id == current_user.id or  @chapter.chapter_consultant_president.id == current_user.id or current_user.is_oficial %>
    <%= link_to 'Borrar publicación', publication, method: :delete, :class => "btn btn-danger", data: { confirm: '¿Está seguro que desea borrar esta publicación?' } %>
  <% end %>
  <hr class="divider">
<%end%>
