
    <% if @user_type == 1 %>
      <h1 class="center-title">Listado de usuarios del <%= @chapter.chapter_name %></h1>
    <% else %>
      <h1 class="center-title">Listado de consultores del <%= @chapter.chapter_name %></h1>
    <% end %>
  
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>DeMolay ID</th>
              <th>Rol</th>
              <th>CI</th>
              <th>Correo Electrónico</th>
              <th>Capítulo</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.fullName, "/profile/" + user.id.to_s %></td>
                <td><%= user.demolayID %></td>
                <td><%= user.role %></td>
                <td><%= user.ci %></td>
                <td><%= user.email %></td>
                <td><%= user.chapter.chapter_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
