<div class="container">
  <div class="jumbotron">
    <h1 class="center-title">Cuerpos DeMolay</h1>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="center-title">Capítulos</h2>
      </div>

      <% @capitulos.each do |chapter| %>
        <div class="col-lg-4">
          <a class="image_link" href="/chapters/<%=chapter.id%>">
          <div class="image_name"><%=chapter.chapter_name%> #<%=chapter.number%></div>
          <img class="img-responsive" src="<%=chapter.image.url%>">
          </a>
        </div>
      <%end%>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 class="center-title">Prioratos</h2>
      </div>

      <% @prioratos.each do |chapter| %>
        <div class="col-lg-4">
          <a class="image_link" href="/chapters/<%=chapter.id%>">
          <div class="image_name"><%=chapter.chapter_name%> #<%=chapter.number%></div>
            <img class="img-responsive" src="<%=chapter.image.url%>">
          </a>
        </div>
      <%end%>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <h2 class="center-title">Cortes</h2>
      </div>

      <% @cortes.each do |chapter| %>
        <div class="col-lg-4">
          <a class="image_link" href="/chapters/<%=chapter.id%>">
          <div class="image_name"><%=chapter.chapter_name%> #<%=chapter.number%></div>
            <img class="img-responsive" src="<%=chapter.image.url%>">
          </a>
        </div>
      <%end%>
    </div>
  </div>
</div>
