<div class="container">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <p id="notice"><%= notice %></p>
    <h1 class="center-title">Listado de Entes</h1>
    <%= link_to 'Crear Ente', new_chapter_path, class: "btn btn-success" %>
    <br><br>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo de Ente</th>
            <th>Presidente del Ente</th>
            <th>Demolay a Cargo</th>
            <th colspan="3">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @chapters.each do |chapter| %>
            <tr>
              <td><%= chapter.chapter_name %></td>
              <td><%= chapter.chapter_type %></td>
              <td><%= chapter.chapter_president.name %> <%= chapter.chapter_president.lastname %></td>
              <td><%= link_to 'Ver', chapter, class: "btn btn-primary" %></td>
              <td><%= link_to 'Editar', edit_chapter_path(chapter), class: "btn btn-warning" %></td>
              <td><%= link_to 'Borrar', chapter, class: "btn btn-danger", method: :delete, data: { confirm: 'Esta seguro que desea borrar este ente?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
