<div class="container">
  <div class="jumbotron">
    <p id="notice"><%= notice %></p>

    <p>
      <h2>Nombre:</h2>
      <%= @chapter.chapter_name %>
    </p>

    <p>
      <h2>Tipo:</h2>
      <%= @chapter.chapter_type %>
    </p>

    <p>
      <h2>Campamento:</h2>
      <%= @chapter.campament.name %>
    </p>


    <h2>Consultores:</h2>
    <% @chapter.consultants.each do |consultant| %>
      <%= link_to consultant.fullName, "/profile/"+consultant.id.to_s %><br>
    <% end %>


  </div>
</div>
<br>
