<% if @chapter.sleep != true %>
    <h1 class="text-center"><%= @chapter.chapter_name %> #<%= @chapter.number %> &nbsp
      <% if @current_user.is_oficial %>
        <span class="dropdown config-bt llavecita">
              <span id="dLabel" class="dropdown-toggle glyphicon glyphicon-wrench" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              </span>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li> <%= link_to 'Gestionar ' + @chapter.chapter_name, '/gestion/' + @chapter.id.to_s%></li>
                  <li> <%= link_to 'Editar ' + @chapter.chapter_name, edit_chapter_path%></li>
                  <li><%= link_to 'Poner en sueños.', @chapter, method: :delete, data: { confirm: '¿Está seguro que desea poner en sueño este cuerpo DeMolay?' } %></li>
                  <li><a href="/destroy_chapter/<%=@chapter.id%>" onclick="return confirm('¿Está seguro que desea eliminar este cuerpo DeMolay?')">Eliminar</a></li>
              </ul>
        </span>
      <% end %>

    </h1>
     <hr id="divider"></hr>


    <br><br>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <center>
          <%= image_tag @chapter.image.url(:original), class: "img-responsive" %>
        </center>
      </div>

      <div class="col-lg-8 col-md-12">
          <h2>Información</h2>
          <p>Este es un <%= @chapter.chapter_type %> del Departamento <%= link_to @chapter.campament.name, "/campaments/"+@chapter.campament.id.to_s %>, creado el año <%= @chapter.created_at.year %>. Actualmente cuenta con <%= @chapter.demolays.count %> DeMolay activos.</p>

          <% if @chapter.chapter_president!=nil && @chapter.chapter_consultant_president!=nil %>
            <% if @chapter.chapter_type == "Capítulo" %>
                <p>El Maestro Consejero es <%= link_to @chapter.chapter_president.fullName, '/profile/'+@chapter.chapter_president.id.to_s %> y el Presidente del consejo consultivo es <%= link_to @chapter.chapter_consultant_president.fullName, '/profile/'+@chapter.chapter_consultant_president.id.to_s %>.</p>
              <% end %>
              <% if @chapter.chapter_type == "Priorato" %>
                <p>El Ilustre Comendador es <%= link_to @chapter.chapter_president.fullName, '/profile/'+@chapter.chapter_president.id.to_s %> y el Presidente del consejo consultivo es <%= link_to @chapter.chapter_consultant_president.fullName, '/profile/'+@chapter.chapter_president.id.to_s %>.</p>
              <% end %>
              <% if @chapter.chapter_type == "Corte" %>
                <p>El Gran Comendador es <%= link_to @chapter.chapter_president.fullName, '/profile/'+@chapter.chapter_president.id.to_s %> y el Presidente del consejo consultivo es <%= link_to @chapter.chapter_consultant_president.fullName, '/profile/'+@chapter.chapter_president.id.to_s %>.</p>
            <% end %>
            <% else %>
            <p><strong>La gestión no fue actualizada.</strong></p>
          <% end %>
           <center>
                  <% if current_user.follows_chapter(@chapter.id) %>
                    <a href="/unfollow_chapter/<%= current_user.id %>/<%= @chapter.id %>" class="btn btn-danger btn-block">Dejar de Seguir</a>
                  <% else %>
                    <a href="/follow_chapter/<%= current_user.id %>/<%= @chapter.id %>" class="btn btn-success btn-block">Seguir Ente</a>
                  <% end %><br><br>
          </center>
        </div>
      </div>


    <div class="row ">
      <div class="col-lg-4 hidden-xs hidden-md hidden-sm info">
        <% if @chapter.chapter_type == "Priorato" %>
          <h3>Caballeros</h3>
        <% end %>
        <% if @chapter.chapter_type == "Corte" %>
          <h3>Chevaliers</h3>
        <% end %>
        <% if @chapter.chapter_type == "Capítulo" %>
          <h3>Algunos miembros</h3>
        <% end %>
        <% @chapter.chapter_users.take(6).each do |dm| %>
          <div class="row">
            <div class="col-lg-2">
              <%= image_tag dm.image.url(:medium), class: "img-responsive" %>
            </div>
            <div class="col-lg-10">
              <%= link_to dm.fullName, '/profile/'+dm.id.to_s %>
            </div>
          </div>
          <br>
        <% end %>
        <%= link_to 'Ver más', '/chapter_users/' + @chapter.id.to_s + '/1' %>
      </div>
          
      <div class="col-lg-4 hidden-xs hidden-md hidden-sm info">
        <% if !@chapter.consultants.empty? %>
        <h3>Algunos consultores</h3>
        <% @chapter.consultants.take(6).each do |ct| %>
          <div class="row">
            <div class="col-lg-2">
              <%= image_tag ct.image.url(:medium), class: "img-responsive" %>
            </div>
            <div class="col-lg-10">
              <%= link_to ct.fullName, '/profile/'+ct.id.to_s %>
            </div>
        </div>
        <br>
        <% end %>
         <%= link_to 'Ver más', '/chapter_users/' + @chapter.id.to_s + '/2' %>
         <% end %>
      </div>

      <div class="col-lg-4 col-xs-12 col-md-12 info">
      <h3>Social</h3>
        <div class="row">
          <% @chapter.chapter_users.all.reverse.take(36).each do |dm| %>
            <div class="col-lg-2 col-xs-3 col-md-3" style="padding: 0; margin: 0;"><a href="/profile/<%=dm.id%>"><%= image_tag dm.image.url(:medium), class: "img-responsive" %></a></div>
          <%end%>
        </div>
      </div> 
          
     </div>


        <div class="row">
          <hr class="divider">
          <%= render "formCreateAnnouncement" %>
        </div>
      



    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8" id="my-posts">
        <h2 class="center-title">Publicaciones</h2>

        <%= render partial: "publications", collection: @publicaciones_para_mostrar %>

        <div id="infinite-scrolling">
          <div class="apple_pagination" style="visibility: hidden;">
            <%= will_paginate @publicaciones_para_mostrar %>
          </div>
        </div>

      </div>
    </div>

<% else %>



<div class="row">
      <div class="col-lg-4">
        <center>
          <%= image_tag @chapter.image.url(:original), class: "img-responsive" %>
        </center>
      </div>

       <div class="col-lg-4">
        <h3>El capitulo esta en sueños.</h3>
        <% if current_user.is_oficial %>
          <a href="/chapters/wake/<%=@chapter.id%>">Despertar Capítulo</a>
        <% end %>
      </div>
</div>
<% end %>



