<% @publicaciones_para_mostrar.each do |publication| %>
	<img src="<%= publication.user.image.url %>" width="30px;"> <%= link_to publication.user.fullName, '/profile/' + publication.user.id.to_s %> publicó:
	<h3><%= publication.subject%></h3>
	<p>
	  <%= publication.content%>
	</p>
	<img src="<%= publication.image.url %>" class="img-responsive"><br>
	<strong>Fecha de publicación:</strong> <%= publication.created_at.to_date %>
	<hr class="divider">
<%end%>