<div class="row">
	<h1 class="text-center"><%=@campament.name%></h1>

		<%= form_tag("/campaments/update_gestion/"+@campament.id.to_s,method:"post") do %>
			
		<div class="form-group" >
		<% if @campament.id != 1 %>
	    	<%= label_tag :Delegado_regional %>
	    	<%= select_tag(:id_delegado, options_from_collection_for_select(@posibles_delegados,'id', 'fullName'), :onclick =>  "verify();", class: "form-control",:prompt => "Seleccionar Delegado Regional") %>
	    <% end %>
	     
	   </div>
	   	<div class="form-group">
	   	<% if @campament.id == 1 %>
	       	<%= label_tag :maestre_consejero_nacional %>
	    <% else %>
	    	<%= label_tag :maestre_consejero_departamental %>
	    <% end %>
	      <%= select_tag(:id_maestro, options_from_collection_for_select(@posibles_maestros,'id', 'fullName'), :onclick =>  "verify();", class: "form-control",:prompt => "Seleccionar Maestre Consejero") %>
	   	</div>
	    <div class="actions" onclick="checkFields()">
	      <%= submit_tag "Actualizar gestión", class: "btn btn-success", id: "boton" %>
	      <%= link_to "Atrás", '/campaments', class: "btn btn-danger" %>
	    </div>
		<%end%>
  </div>


<script type="text/javascript">
	function verify(){
		$('#boton').attr('value', 'Actualizar');
		$('#boton').removeClass( "btn-danger" ).addClass( "btn-success" );
		$('#boton').removeAttr('disabled');
	}

	function checkFields() {
		<% if @campament.id == 1 %>
			if ($('#id_maestro').val().length == 0){
				$('#boton').attr('disabled', 'disabled');
				$('#boton').attr('value', 'Todos los campos son obligatorios');
				$('#boton').removeClass( "btn-success" ).addClass( "btn-danger" );
			}
		<% else %>
			if ($('#id_delegado').val().length == 0 || $('#id_maestro').val().length == 0){
				$('#boton').attr('disabled', 'disabled');
				$('#boton').attr('value', 'Todos los campos son obligatorios');
				$('#boton').removeClass( "btn-success" ).addClass( "btn-danger" );
			}
		<% end %>
	}
</script>