<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campament.name %>
</p>
    <%= image_tag @campament.image.url(:medium) %>
   <% if @campament.president!=nil && @campament.maestro_consejero!=nil%>
    <p>
	  <strong>Delegado regional:</strong>
	  <%= @campament.president.fullName %>
	</p>
   <p>
    <strong>Maestro Consejero Departamental:</strong>
    <%= @campament.maestro_consejero.fullName %>
  </p>
    <%else%>
    	<h3>La gestion no fue actualizada</h3>
    <%end%>

     <%=render "formCreateAnnouncement"%>


    <h1>Publicaciones</h1>
    <%  @publicaciones_para_mostrar.each do |an| %>
      <%= an.subject%><br>
      <%= an.content%><br>
    <%end%>


<%= link_to 'Edit', edit_campament_path(@campament) %> |
<%= link_to 'Back', campaments_path %>
