
  <div class="jumbotron">
    <p id="notice"><%= notice %></p>

    <h1 class="center-title"><%= @campament.name %></h1>

    <div class="row">
      <div class="col-lg-8">
        <center>
          <%= image_tag @campament.image.url(:original), class: "img-responsive" %>
        </center>
      </div>
      <div class="col-lg-4">

      <% if @campament.president!=nil && @campament.maestro_consejero!=nil%>

        <% if @campament.id != 1 %>
            El Maestro Consejero Departamental es <%= link_to @campament.maestro_consejero.fullName, '/profile/' + @campament.maestro_consejero.id.to_s %> y el Delegado Regional es <%= link_to @campament.president.fullName, '/profile/' + @campament.president.id.to_s %>.
        <% else %>
          El Maestro Consejero Nacional es <%= link_to @campament.maestro_consejero.fullName, '/profile/' + @campament.maestro_consejero.id.to_s %> y el Oficial Ejecutivo es <%= link_to @campament.president.fullName, '/profile/' + @campament.president.id.to_s %>.
        <% end %>
        <%else%>
          <h3>La gestión no fue actualizada</h3>
          <% if current_user.is_oficial %>
            <%= link_to 'Actualizar Gestión', '/campaments/gestion/' + @campament.id.to_s, class: "btn btn-primary btn-block" %>
            <% if @campament.id != 1 %>
            <%= link_to 'Editar Departamento', '/campaments/' + @campament.id.to_s + '/edit', class: "btn btn-warning btn-block" %>
             <% else %>
             <%= link_to 'Editar Jurisdicción', '/campaments/' + @campament.id.to_s + '/edit', class: "btn btn-warning btn-block" %>
              <% end %>
          <% end %>
        <%end%>
        <% if current_user.follows_campament(@campament.id) %>
          <a href="/unfollow_campament/<%= current_user.id %>/<%= @campament.id %>" class="btn btn-primary btn-block">Dejar de Seguir</a>
        <% else %>
          <a href="/follow_campament/<%= current_user.id %>/<%= @campament.id %>" class="btn btn-primary btn-block">Seguir Departamento</a>
        <% end %>
        <% if @campament.id != 1 %>
         <h3>Capitulos</h3>
          <% @campament.chapters.each do |c| %>
            <% if c.chapter_type == "Capitulo" %>
              <a href="/chapters/<%=c.id%>" data-no-turbolink><%= c.chapter_name %></a><br>
            <% end %>
          <% end %>
          <h3>Prioratos</h3>
          <% @campament.chapters.each do |c| %>
            <% if c.chapter_type == "Priorato" %>
              <a href="/chapters/<%=c.id%>" data-no-turbolink><%= c.chapter_name %></a><br>
            <% end %>
          <% end %>
          <h3>Cortes</h3>
          <% @campament.chapters.each do |c| %>
            <% if c.chapter_type == "Corte" %>
              <a href="/chapters/<%=c.id%>" data-no-turbolink><%= c.chapter_name %></a><br>
            <% end %>
          <% end %>
        <% else %>
          <h3>Campamentos</h3>
          <% Campament.all.each do |c| %>
            <% if c.id != 1 %>
              <a href="/campaments/<%=c.id%>"><%= c.name %></a><br>
            <% end %>
          <% end %>
        <% end %>


      </div>
    </div>

     <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="row">
          <hr class="divider">
          <%= render "formCreateAnnouncement" %>
        </div>
        <h2 class="center-title">Publicaciones</h2>

          <% @publicaciones_para_mostrar.each do |publication| %>
            <img src="<%= publication.user.image.url %>" width="30px;"> <%= link_to publication.user.fullName, '/profile/' + publication.user.id.to_s %> publicó:
            <h3><%= publication.subject%></h3>
            <p>
              <%= publication.content%>
            </p>
            <img src="<%= publication.image.url %>" class="img-responsive"><br>
            <strong>Fecha de publicación:</strong> <%= publication.created_at.to_date %>
            <hr class="divider">
          <%end%>

      </div>
    </div>

  </div>

