
    <h1 class="text-center"><%= @campament.name %> &nbsp
      <% if @current_user.is_oficial %>
        <span class="dropdown config-bt llavecita">
              <span id="dLabel" class="dropdown-toggle glyphicon glyphicon-wrench" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              </span>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li> <%= link_to 'Gestionar', '/campaments/gestion/' + @campament.id.to_s %></li>
                    <li> <%= link_to 'Editar', '/campaments/' + @campament.id.to_s + '/edit'%></li>
              </ul>
        </span>
      <% end %>

    </h1>
     <hr id="divider"></hr>

    <br><br>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <center>
           <%= image_tag @campament.image.url(:original), class: "img-responsive" %>
        </center>
      </div>
    
      <div class="col-lg-5 col-md-6 col-xs-12 col-sm-6">
          <h2>Información</h2>
          <% if @campament.id != 1 %>
            <p>Este es un el campamento del Departamento de <%= @campament.name %></p>
          <%else%>
            <p>Esta es la Jurisdicción de <%= @campament.name %></p>
          <%end%>
          <% if @campament.president!=nil && @campament.maestro_consejero!=nil%>
              <% if @campament.id != 1 %>
              <p>El Maestro Consejero Departamental es <%= link_to @campament.maestro_consejero.fullName, '/profile/' + @campament.maestro_consejero.id.to_s %> y el Delegado Regional es <%= link_to @campament.president.fullName, '/profile/' + @campament.president.id.to_s %>.</p>
            <% else %>
              <p>El Maestro Consejero Nacional es <%= link_to @campament.maestro_consejero.fullName, '/profile/' + @campament.maestro_consejero.id.to_s %> y el Oficial Ejecutivo es <%= link_to @campament.president.fullName, '/profile/' + @campament.president.id.to_s %>.</p>
            <% end %>
          <%else%>
             <p><strong>La gestión no fue actualizada.</strong></p>
          <%end%>
          <center>
             <% if current_user.follows_campament(@campament.id) %>
              <a href="/unfollow_campament/<%= current_user.id %>/<%= @campament.id %>" class="btn btn-success btn-block">Seguir</a>
            <% else %>
              <a href="/follow_campament/<%= current_user.id %>/<%= @campament.id %>" class="btn btn-danger btn-block">Dejar de seguir</a>
            <% end %><br><br>
          </center>
      </div>
    
      <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6 info">
        <% if @campament.id != 1 %>
         <h3>Capitulos</h3>
          <% @campament.chapters.each do |c| %>
            <% if c.chapter_type == "Capitulo" %>
              <a href="/chapters/<%=c.id%>" data-no-turbolink><%= c.chapter_name %></a><br>
            <% end %>
          <% end %>
          <h3>Prioratos</h3>
          <% @campament.chapters.each do |c| %>
            <% if c.chapter_type == "Priorato" %>
              <a href="/chapters/<%=c.id%>" data-no-turbolink><%= c.chapter_name %></a><br>
            <% end %>
          <% end %>
          <h3>Cortes</h3>
          <% @campament.chapters.each do |c| %>
            <% if c.chapter_type == "Corte" %>
              <a href="/chapters/<%=c.id%>" data-no-turbolink><%= c.chapter_name %></a><br>
            <% end %>
          <% end %>
        <% else %>
          <h3>Campamentos</h3>
          <% Campament.all.each do |c| %>
            <% if c.id != 1 %>
              <a href="/campaments/<%=c.id%>"><%= c.name %></a><br>
            <% end %>
          <% end %>
        <% end %>
      </div>

</div>




     <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8" id="my-posts-campament">
        <div class="row">
          <hr class="divider">
          <%= render "formCreateAnnouncement" %>
        </div>
        <h2 class="center-title">Publicaciones</h2>

        <%= render partial: "publications", collection: @publicaciones_para_mostrar %>

        <div id="infinite-scrolling">
          <div class="apple_pagination" style="visibility: hidden;">
            <%= will_paginate @publicaciones_para_mostrar %>
          </div>
        </div>


      </div>
    </div>

