<%= bootstrap_form_for @transaction, html: { multipart: true } do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.number_field :mount %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.select :transaction_type, options_for_select(@types) %>
  </div>
  <div class="actions">
    <%= f.submit "Registrar", class: "btn btn-success" %>
    <%= link_to 'Back', transactions_path, class: "btn btn-danger" %>
  </div>
<% end %>
