

        <h1 class="center-title">Transacciones Archivadas</h1>

        <% if current_user.is_oficial or current_user.is_diputado %>
          <h3>Balance hasta la fecha:</h3>
          Bs. <%= @balance %>
        <% end %>
        <hr class="divider">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Ente</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th>Fecha</th>
              </tr>
            </thead>

            <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td>
                        <div class="dropdown config-bt llavecita">
                          <span id="dLabel" class="dropdown-toggle glyphicon glyphicon-wrench" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          </span>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                              <li><%= link_to 'Ver detalle', transaction %></li>
                          </ul>
                      </div>
                  </td>
                  <td><%= transaction.transaction_type %></td>
                  <td><%= transaction.name %></td>
                  <td>
                    <% if !transaction.chapter.nil? %>
                      <a href="/chapters/<%=transaction.chapter_id%>"> <%= transaction.chapter.chapter_name %> </a>
                    <% else %>
                      No se registro el Ente.
                    <% end %>
                  </td>
                  <td><%= transaction.description %></td>
                  <td>Bs. <%= transaction.float_amount%></td>
                  <td><%= link_to transaction.user.fullName, '/profile/'+transaction.user.id.to_s %></td>
                  <td><%= transaction.status %></td>
                  <td><%= transaction.created_at.to_date %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
        </div>
        <center>
          <div class="apple_pagination">
            <%= will_paginate @transactions, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
          </div>
          </center>
