

        <h1>Listado de Transacciones</h1>

        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped">
            <thead>
              <tr>
                <td>Tipo</td>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th colspan="4">Operaciones</th>
              </tr>
            </thead>

            <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td><%= transaction.transaction_type %></td>
                  <td><%= transaction.name %></td>
                  <td><%= transaction.description %></td>
                  <td>Bs. <%= transaction.mount %></td>
                  <td><%= transaction.user.fullName %></td>
                  <td><%= transaction.status %></td>
                  <% if current_user.is_oficial and !transaction.aproved? %>
                    <td><%= link_to 'Aprobar', '/aproveTransaction/' + transaction.id.to_s %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td><%= link_to 'Ver detalle', transaction %></td>
                  <% if !transaction.aproved? %>
                    <td><%= link_to 'Editar', edit_transaction_path(transaction) %></td>
                    <td><%= link_to 'Borrar', transaction, method: :delete, data: { confirm: 'Está seguro?' } %></td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
      </div>

      <center>
        <%= will_paginate @transactions, :next_label => "Siguiente", :previous_label => "Anterior" %>
      </center>
