<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @transaction.mount %>
</p>

<p>
  <strong>Usuario:</strong>
  <a href="/profile/<%= @transaction.user.id %>"> <%= @transaction.user.fullName %></a>
</p>

<p>
  <strong>Mount:</strong>
  <%= @transaction.mount %>
</p>
 <%= image_tag @transaction.image.url(:medium) %>

<%= link_to 'Back', transactions_path %>
