<div class="container">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="jumbotron">
      <p id="notice"><%= notice %></p>

      <h1 class="center-title"><%= @transaction.name %></h1>

      <p>
        <strong>Concepto</strong><br>
        <%= @transaction.concept_type %>
      </p>

      <p>
        <strong>Tipo de transacción</strong><br>
        <%= @transaction.transaction_type %>
      </p>

      <p>
        <strong>Descripcion</strong><br>
        <%= @transaction.description %>
      </p>

      <p>
        <strong>Monto</strong><br>
        Bs. <%= @transaction.mount %>
      </p>

      <p>
        <strong>Registrada por</strong><br>
        <a href="/profile/<%= @transaction.user.id %>"> <%= @transaction.user.fullName %></a>
      </p>

      <center>
        <%= image_tag @transaction.image.url(:original), class: "img-responsive" %><br>
        <%= link_to 'Atrás', :back, class: "btn btn-danger" %>
      </center>



    </div>
  </div>
</div>
