


      <h1 class="center-title"><%= @transaction.name %></h1>

      <p>
        <strong>Concepto</strong><br>
        <%= @transaction.concept_type %>
      </p>

      <p>
        <strong>Tipo de transacción</strong><br>
        <%= @transaction.transaction_type %>
      </p>

      <p>
        <strong>Descripción</strong><br>
        <%= @transaction.description %>
      </p>

      <p>
        <strong>Monto</strong><br>
        Bs. <%= @transaction.mount %>
      </p>

      <p>
        <strong>Número de comprobante</strong><br>
        <%= @transaction.receipt_number %>
      </p>

      <p>
        <strong>Registrada por</strong><br>
        <a href="/profile/<%= @transaction.user.id %>"> <%= @transaction.user.fullName %></a>
      </p>


      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
           <%= image_tag @transaction.image.url(:original), class: "img-responsive" %><br>
        </div>
        <div class="col-lg-3"></div>
      </div>

      <center>
        <%= link_to 'Atrás', :back, class: "btn btn-danger" %>
      </center>



