<%= form_tag("/update_reiniciar_gestion",method:"post") do %>
		<div class="form-group">
	      <%= label_tag :Oficial_ejecutivo %>
	      <%= select_tag(:id_oficial, options_from_collection_for_select(@posibles_oficiales,'id', 'fullName'), class: "form-control",:prompt => "Seleccionar Oficial Ejecutivo") %>
	    </div>
	   	

	    <div class="form-group">
	     	<%= label_tag :Reiniciar_las_siguientes_gestiones %><br>
	    	<%= check_box_tag(:capitulo_check_box) %>
			<%= label_tag(:capitulo_check_box, "Capitulos") %><br>
			<%= check_box_tag(:priorato_check_box) %>
			<%= label_tag(:priorato_check_box, "Prioratos") %><br>
			<%= check_box_tag(:corte_check_box) %>
			<%= label_tag(:corte_check_box, "Cortes") %><br>
			<%= check_box_tag(:departamento_check_box) %>
			<%= label_tag(:departamento_check_box, "Departamentos") %><br>
			<%= check_box_tag(:nacional_check_box) %>
			<%= label_tag(:nacional_check_box, "Gestión nacional") %><br>
	    </div>


	   <div class="form-group">
	      <%= label_tag :Gestión %>
	      <%= text_field_tag :gestion , nil , :placeholder => "ej. II 2016" %>
	   </div>
	    <div class="actions">
	      <%= submit_tag "Reiniciar gestión", class: "btn btn-danger" %>
	    </div>
<%end%>

