<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @charge.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @charge.user %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
