<!DOCTYPE html>
<html>
  <head>
    <title>SirDeMBo</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag :modernizr %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/logo-01.png" id="logo"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if user_signed_in?%>
              <ul class="nav navbar-nav navbar-right">
                <% if !current_user.is_oficial%>

                  <li><a title="Departamentos" href="/campaments"><span  id="gly-menu" class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuerpos DeMolay (<%= current_user.announcements_to_aprove.count %>)<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/chapters" data-no-turbolink>Cuerpos DeMolay </a></li>
                      <% if current_user.announcements_to_aprove.count != 0 %>
                        <li><a href="/chapter_aprovals">Aprobaciones (<%= current_user.announcements_to_aprove.count %>)</a></li>
                      <% end %>
                    </ul>
                  </li>
                <%else%>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                      <span  id="gly-menu" class="glyphicon glyphicon-th-large" aria-hidden="true"></span>

                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/campaments">Departamentos</a>
                      </li>
                      <li><a href="/campaments/new">Crear Departamento</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span  id="gly-menu" class="glyphicon glyphicon-th" aria-hidden="true"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/chapters" data-turbolinks="false">Cuerpos DeMolay</a></li>
                      <li><a href="/chapters/new">Crear Cuerpo</a></li>
                      <% if current_user.announcements_to_aprove.count != 0 %>
                        <li><a href="/chapter_aprovals">Aprobaciones (<%= current_user.announcements_to_aprove.count %>)</a></li>
                      <% end %>
                    </ul>
                  </li>
                <%end%>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span  id="gly-menu" class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/inboxes">Ver mensajes</a></li>
                      <li><%= link_to 'Enviar mensaje', new_inbox_path %></li>
                    </ul>
                  </li>
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span  id="gly-menu" class="glyphicon glyphicon-credit-card" aria-hidden="true"></span><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/transactions/new">Crear transacción</a></li>
                    <% if current_user.is_oficial %>
                      <li><a href="/pendingTransactions">Pendientes</a></li>
                      <li><a href="/aprovedTransactions">Archivadas</a></li>
                    <% end %>

                  </ul>
                </li>
                <% if ( current_user.tiene_el_cargo("Oficial Ejecutivo") || current_user.tiene_el_cargo("Delegado Regional") || current_user.tiene_el_cargo("Presidente Consejo Consultivo") )%>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span  id="gly-menu" class="glyphicon glyphicon-user" aria-hidden="true"></span></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/users">Usuarios <span class="sr-only">(current)</span></a></li>
                        <% if current_user.is_aprovator %>
                          <li><a href="/approvals">Aprobaciones (<%= current_user.number_of_approvals %>)</a></li>
                        <% end %>
                      </ul>

                  </li>
                 <%end%>


            <% end %>


              <li class="dropdown">
                <% if user_signed_in? %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.fullName %><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/profile/<%=current_user.id.to_s%>">Perfil</a></li>
                    <li><a href="/users/edit">Editar Perfil</a></li>
                    <% if current_user.is_oficial %>
                      <li><a href="/reiniciar_gestion">Reiniciar Gestión</a></li>
                      <li><a href="/reports">Reportes</a></li>
                    <%end%>
                    <li><%= link_to('Cerrar Sesión', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                <% else %>
                  <li><a href="/users/sign_in">Iniciar Sesion <span class="sr-only">(current)</span></a></li>
                <% end %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>

    <div class="container-fluid">
      <br />
      <div class="row no-gutter">
      <% if !current_user.nil? %>
        <div class="col-lg-2">
          <div class="jumbotron nopadding">
            <div class="row">
                <br />
                  <div class="form side-font">
                    <%= form_tag("/search", method:"post") do %>
                    <div class="form-group">
                      <%= text_field_tag :search, nil, class: "form-control", placeholder: "Buscar..." %>
                    </div>
                      <%= submit_tag "Buscar", class: "btn btn-default btn-block" %>
                    <% end %>
                  </div>

                <h3>Capítulos que sigo</h3>
                <a class="side-font" href="/chapters/<%= current_user.chapter.id %>"><%= current_user.chapter.chapter_name %></a><br />
                <a class="side-font" href="/chapters/5"><%= Chapter.find(5).chapter_name %></a><br />
                <a class="side-font" href="/chapters/8"><%= Chapter.find(8).chapter_name %></a><br />
                <h3>Departamentos que sigo</h3>
                <a class="side-font" href="/campaments/<%= current_user.campament.id %>"><%= current_user.campament.name %></a><br />
                <a class="side-font" href="/campaments/5"><%= Campament.find(5).name %></a><br />
                <a class="side-font" href="/campaments/8"><%= Campament.find(8).name %></a><br />
                <h3>Últimos mensajes</h3>
                  <% current_user.inboxes.each do |inbox| %>
                    <a class="side-font" href="/users/<%= inbox.user1.id %>"><%= inbox.user1.fullName %></a>:
                    <span class="side-font"><%= truncate(inbox.content.html_safe, length: 50) %></span>
                    <a class="side-font" href="/inboxes/<%= inbox.id %>">Ver más</a><br />
                  <% end %>
              </div>
          </div>
        </div>
        <% end %>

        <div class="col-lg-8">
          <%= yield %>
        </div>

        <div class="col-lg-2 " >
          <div class="jumbotron nopadding">
            <div class="row ">
              <div class="col-lg-12">
                <h3>Anuncios de Oficialía Ejecutiva</h3>
                <a href="#" class="side-font">Anuncio #1</a><span class="side-font"> - Queridos sobrinos, estamos estrenando sistema!</span><br />
                <a href="#" class="side-font">Edicto #1</a><span class="side-font"> - Por favor dejen sus opiniones sobre el sistema</span><br />
                <a href="#" class="side-font">Anuncio #2</a><span class="side-font"> - Prueben el sistema desde sus celulares!</span><br />
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  </body>
  <script type="text/javascript">
    $(function(){
      if (!Modernizr.inputtypes.date) {
          $('input[type=date]').datepicker({
                dateFormat : 'dd-mm-yy',
                yearRange: '1950:2017',
                changeYear: true
              }
           );
      }
  });
  </script>
</html>
