<!DOCTYPE html>
<html>

  <head>
    <title>SirDeMBo</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/logo-01.png">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag :modernizr %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>

          <img src="/assets/cover.png" class="img-responsive" style="margin-bottom: -30px">

      <%= render "layouts/navbar"%>
    </header>

    <div class="container-fluid">
      <br />
      <div class="row no-gutter">

        <%= render :partial => "layouts/search_and_following"%>

        <%= render :partial => "layouts/announcements"%>

        <%= render :partial => "layouts/main_partial" %>

      </div>
    </div>

  </body>
  <script type="text/javascript">
    $(function(){
      if (!Modernizr.inputtypes.date) {
          $('input[type=date]').datepicker({
                dateFormat : 'dd-mm-yy',
                yearRange: '1950:2017',
                changeYear: true
              }
           );
      }
  });
  </script>
</html>

