<%= bootstrap_form_for @inbox, html: { multipart: true } do |f| %>

  <div class="field">
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.file_field :inbox_att %>
  </div>

  <div class="field" hidden="true">
    <% if @user_id != nil && @user_id != 0%>
      <%= f.text_field :user2_id, :value => @user_id, :id => 'user_id' %>
    <%else%>
      <%= f.text_field :user2_id,  :id => 'user_id' %>
    <%end%>
  </div>

  <div class="field">
    <% if @user_id != nil && @user_id != 0 %>
      <%= f.text_field :user2_name, :value => User.find(@user_id).fullName, :id => 'user2_id',:label=>"Enviar a" , :autocomplete => :off%>
    <%else%>
      <%= f.text_field :user2_name,  :value=>"",:placeholder => "Ingresar nombre", :id => 'user2_id',:label=>"Enviar a" , :autocomplete => :off%>
    <%end%>
  </div>


  <div id="user_field" hidden=true; style="height:100px; overflow-y:scroll;background-color:white;margin-top:-20px;margin-bottom:20px;padding:10px;">
    <%if @user != nil %>
      <strong><%= @user.fullName %><br></strong>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Enviar Mensaje", class: "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">

  jQuery('#user_name').on('input', function() {
      update_user($('#user_name').val());
  });


  function update_user(user_field) {
    jQuery.ajax({
      url: "/update_user_field",
      type: "GET",
      data: {"user_field" : user_field},
      dataType: "html",
      success: function(data) {
        jQuery('#user_field').html(data);
      }
    });
  }

  function pass_name(name,id) {
     jQuery('#user_name').val(name);
     jQuery('#user_id').val(id);
     jQuery('#user_field').html("");
     $('#user_field').hide();
  }

  $('#user_name').focus(function(){
        $('#user_field').show();
  });



</script>
