<%= bootstrap_form_for @inbox, html: { multipart: true } do |f| %>

  <div class="field">
    <%= f.text_area :subject %>
  </div>
  <div class="field">
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.file_field :inbox_att %>
  </div>
  <div class="field">
    <% if @user_id != 0%>
      <%= f.text_field :user2_id, :value => @user_id, :id => 'user_id', label: "Enviar a" %>
    <%else%>
      <%= f.text_field :user2_id,  :id => 'user_id', label: "Enviar a" %>
    <%end%>
    <div id="user_field"></div>

  </div>
  <div class="actions">
    <%= f.submit "Enviar Mensaje", class: "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">

  jQuery('#user_id').on('input', function() {
      update_user($('#user_id').val());
  });


  function update_user(user_field) {
    jQuery.ajax({
      url: "/update_user_field",
      type: "GET",
      data: {"user_field" : user_field},
      dataType: "html",
      success: function(data) {
        jQuery('#user_field').html(data);
      }
    });
  }
</script>
