<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="jumbotron">
      <p id="notice"><%= notice %></p>

      <h1 class="center-title"><%= @inbox.subject %></h1>

      <p>
        <%= @inbox.content %>
      </p>

      <p>
        Recibido de: <%= link_to @inbox.user2.fullName, '/profile/' + @inbox.user2.id.to_s %>
      </p>

      <p>
        <% if @inbox.seen %>
          Visto
        <%else %>
          no fue visto
        <%end %>
      </p>
      <center>
        <%= link_to 'Atrás', inboxes_path, class: "btn btn-danger" %>
      </center>
    </div>
  </div>
</div>
