

      <h1 class="center-title"><%= @inbox.subject %></h1>

      <p>
        <%= raw(auto_link(@inbox.content)) %>
      </p>

      <p>
        <% if @inbox.user1 != nil %>
          Enviado por: <%= link_to @inbox.user1.fullName, '/profile/' + @inbox.user1.id.to_s %>
        <% else %>
          Enviado por: Usuario eliminado
        <% end %>
      </p>

      <p>
        <% if @inbox.user2 != nil %>
          Enviado a: <%= link_to @inbox.user2.fullName, '/profile/' + @inbox.user2.id.to_s %>
        <% else %>
          Enviado a: Usuario eliminado
        <% end %>
      </p>

      <% if @inbox.inbox_att.exists? %>
        <span class="glyphicon glyphicon-paperclip"></span> <%= link_to 'Descargar adjunto', @inbox.inbox_att.url, target: 'blank' %>
      <% end %>

      <p>
        <% if @inbox.seen %>
          <h5><strong>Este mensaje ha sido visto</strong></h5>
        <%else %>
          <h5><strong>Este mensaje no ha sido visto</strong></h5>
        <%end %>
      </p>
      <center>
        <%= link_to 'Atrás', inboxes_path, class: "btn btn-danger" %>
      </center>

